<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" href="../static/css/zhuyezhuanshi.css" rel="stylesheet" />
<title>网站主页</title>
</head>

<body>
<div class='theme'>
  <div id='logo'>
  <a href="www.dlut.edu.cn"><img src="../static/images/logo.jpg" width="524" height="59" /></a>
  </div>
  <div class='theme-right'>
    <ul>
      <li><a href="">English </a></li>
      <li>|</li>
      <li><a href="">Chinese </a></li>
    </ul>
  </div>
  <div class='navigatable'> 
    <ul class='nav'>
      <li><a href="/crawlknowledge/" target="_blank">知识获取</a></li>
      <li><a href="/uploadknowledge/" target="_blank">知识贡献</a></li>
      <li><a href="/query/" target="_blank">知识查询</a></li>
      <li><a href="/compareKnowledge/" target="_blank">知识比对</a></li>
      <li><a href="/email/">电子邮件</a></li>
    </ul>  
  </div>
</div>


<div>
  <img src="../static/images/logo1.jpg" width="100%" height="71"/>
</div>
<div class='content'>
 <div class='companynews'>
  <div class="newstitle">
    <span class='titlename'>公司新闻</span><span class='more'>更多>></span>
  </div>
  <div class="innercontent">
   <ul class='list'>
    <li><span class='title'>车用汽油国VI标准质量升级工程环评报告书（简本）公...</span><span class='date'>[2017-4-10]</span></li>
   
    <li><span class='title'>锦西石化碧海公司新建5万立柴油储罐工程项目环评审批...</span><span class='date'>[2017-4-07]</span></li>
   
    <li><span class='title'>公司预备役建设获佳绩	</span><span class='date'>[2017-2-07]</span></li>
   
    <li><span class='title'>公司团委开展“文明石化 志愿青春”青年志愿服务活动</span><span class='date'>[2016-10-21]</span></li>
   </ul>
  </div>
  <div class="newstitle">
    <span class='titlename'>公司下属企业</span><span class='more'>更多>></span>
  </div>
  <div class="innercontent">
   <ul class='list'>
    <li><span class='title'>锦西石化公司热网公司</span></li>
   
    <li><span class='title'>锦西石化公司产品销售部</span></li>
   
    <li><span class='title'>锦西石化矿区服务事业部</span></span></li>
   
    <li><span class='title'>锦西石化现代化学公司</span></li>
   
    <li><span class='title'>锦西石化公司经营开发总公司</span></li>
   </ul>
  </div>
 </div>
 <div class='centercomponent'>
   <div class="newstitle">
    <span class='titlename'>图片新闻</span><span class='more'>更多>></span>
   </div>
   <div class='picture'><img src="../static/images/icon.jpg" width="599" height="357" /></div>
   <div class="descripition">
      <a href="">锦西石化王尚典在全国职工职业技能大赛中夺魁。</a>
   </div>
 </div>
</div>
<dlv class='footer'>
  <ul>
   <li class="cli">中国石油天然气集团公司</li>
   <li class="cliy">版权所有2014</li>
   <li class="seperate">|</li>
   <li class="laws">法律声明</li>
  </ul>
</div>
</body>
</html>
